<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Te llevo App</h1>
  <form [formGroup]="form" (submit)="login()" class="container">
    <ion-item>
      <ion-label>Nombre de usuario: </ion-label>
      <ion-input type="text" placeholder="Juanito_Perez" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña: </ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button expand="block" color="success" type="submit">Iniciar Sesión</ion-button>
    <ion-button fill="outline" size="small" color="danger" (click)="changeFlag()" type="button">Restablecer contraseña</ion-button>
  </form>

  <ion-item *ngIf="flag">
    <ion-label>Nombre de usuario: </ion-label>
    <ion-input type="text" placeholder="Juanito_perez" ></ion-input>
    <ion-button expand="block" color="success">Enviar</ion-button>
  </ion-item>

</ion-content>

<app-footer></app-footer>
