<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Te llevo App</h1>

  <div class="container">
    <ion-item>
      <ion-label>Correo: </ion-label>
      <ion-input type="text" placeholder="correo@correo.cl"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña: </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button expand="block" color="success">Iniciar Sesión</ion-button>
  </div>


</ion-content>
