<app-header title="Conductor"></app-header>

<ion-content>

  <ion-card>
    <img [src]="pupil.image"/>

    <ion-card-content>
      <ion-card-subtitle>{{pupil.car}}</ion-card-subtitle>
      <ion-card-title>Nombre: {{pupil.name}}</ion-card-title>
      <ion-label color="primary">
        <p>Correo:</p>
        <h2>{{pupil.email}}</h2>
      </ion-label>
      <ion-button expand="block" color="danger">Pedir auto</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-footer></app-footer>
