<ion-header>
  <ion-toolbar>
    <ion-title>Conductores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="formDriver" (submit)="send()">
      <ion-list>
        <ion-item>
          <ion-label>* Conductores:</ion-label>
          <ion-select formControlName="drivers" placeholder="Seleccionar" ok-text="Seleccionar" cancel-text="Cancelar">
            <ion-select-option *ngFor="let pupil of students" [value]="pupil.id">{{pupil.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>* Comuna:</ion-label>
          <ion-input formControlName="commune" type="text" placeholder="Providencia"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>* Destino:</ion-label>
          <ion-input formControlName="destiny" type="text" placeholder="Duoc UC Antonio Varas"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>* Lugar de encuentro:</ion-label>
          <ion-input formControlName="meeting" type="text" placeholder="Av. Manuel Montt #1234"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>* Fecha de encuentro:</ion-label>
          <ion-datetime formControlName="meetingDate" displayFormat="DD MMM YYYY" min="2021" max="2021" value="time" done-text="Aceptar" cancel-text="Cancelar"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>* Hora de encuentro:</ion-label>
          <ion-datetime formControlName="meetingTime" displayFormat="HH:mm"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>* Valor:</ion-label>
          <ion-input formControlName="careerValue" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea formControlName="observations" placeholder="Observaciones"></ion-textarea>
        </ion-item>
        <ion-button expand="block" shape="round" type="submit">Solicitar conductor</ion-button>
      </ion-list>
    </form>
    <br>
    <ion-button (click)="presentModal()" expand="block" shape="round" color="danger">Ver lista de conductores</ion-button>
  </div>
</ion-content>

<app-footer></app-footer>
